@{
    ViewData["Title"] = "Game Library";
}

<div class="pagetitle">
    <h1>Game Library</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">GameLibrary</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <a class="navbar-brand" asp-area="" asp-controller="Monsters" asp-action="Index">Show me the list of monsters!</a>
</section>