@model Fangehull.Models.Monster

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Monster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MonsterName" class="control-label"></label>
                <input asp-for="MonsterName" class="form-control" />
                <span asp-validation-for="MonsterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHealtPoints" class="control-label"></label>
                <input asp-for="MaxHealtPoints" class="form-control" />
                <span asp-validation-for="MaxHealtPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<Difficulties>()" class="form-control"></select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
