@using OstreCWEB.Data.Repository.Characters.Enums
@model OstreCWEB.ViewModel.Characters.PlayableRaceView

<div class="row align-items-top mb-3 justify-content-md-center">

    <!--Playable character info( left column)-->
    <div class="col-lg-3 ">
        <div class="card shadow-sm">
            
            <div class="card-body">
                <h3>Create Race</h3>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PlayableRaceId" />
                    <div class="form-group">
                        <label asp-for="RaceName"></label>
                        <input asp-for="RaceName" class="form-control" />
                        <span asp-validation-for="RaceName" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="WisdomBonus"></label>
                        <input asp-for="WisdomBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="WisdomBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConstitutionBonus"></label>
                        <input asp-for="ConstitutionBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="ConstitutionBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CharismaBonus"></label>
                        <input asp-for="CharismaBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="CharismaBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DexterityBonus"></label>
                        <input asp-for="DexterityBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="DexterityBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StrengthBonus"></label>
                        <input asp-for="StrengthBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="StrengthBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IntelligenceBonus"></label>
                        <input asp-for="IntelligenceBonus" type="number" min="0" max="10" step="1" class="form-control" />
                        <span asp-validation-for="IntelligenceBonus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-controller="PlayableRace" asp-action="Index" type="button" class="btn btn-primary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
