@model OstreCWEB.ViewModel.Characters.PlayableCharacterCreateView

@{
    ViewData["Title"] = "Set Class";
}

<h1>Set Class</h1>

<hr />

<div class="row">
    <div class="col-md-4 ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="p-3 bg-opacity-75 border border-warning-subtle rounded-top" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                <h2>Hero Class</h2>
            </div>
            <div class="p-3 bg-warning bg-opacity-75 border border-warning-subtle rounded-top" style="background: #eee; box-shadow: 0 8px 8px -4px black;">            
                <div class="form-group">
                    <input asp-for="RaceId" hidden="true"/>
                    <label asp-for="PlayableClassId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.PlayableClassId, new SelectList(Model.CharacterClasses,"Key","Value"),
                        " Please select class ",
                        new {
                            @class = "form-control"
                        })
                    <span asp-validation-for="PlayableClassId" class="text-danger"></span>
                </div>
            </div>
            <br />
                <div class="form-group">
                    <a asp-action="SetRace" class="btn"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center">Set Race</a>
                    <input type="submit" value="Create" class="btn" asp-action="SetAttributes" asp-controller="PlayableCharacter"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center"/>                    
                </div>                
        </form>
    </div>
</div><!--Form Set Class-->
