@{
    ViewData["Title"] = "FAQ";
}

<div class="pagetitle">
    <h1>FAQ</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">FAQ</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

</section>
