@using OstreCWEB.Data.Repository.Characters.Enums
@model OstreCWEB.ViewModel.Characters.ItemEditView

<div class="row align-items-top mb-3 justify-content-md-center">

    <!--Playable character info( left column)-->
    <div class="col-lg-3 ">
        <div class="card shadow-sm">
            <h3>Create View</h3>
            <div class="card-body">

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ItemId" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemType"></label>
                        <select asp-for="ItemType" asp-items="Html.GetEnumSelectList<ItemType>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="ItemType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmorClass"></label>
                        <input asp-for="ArmorClass" type="number" min="0" max="30" step="1" class="form-control" />
                        <span asp-validation-for="ArmorClass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionToTriggerId" class="control-label"></label>
                        @Html.DropDownListFor(m => m.ActionToTriggerId, new SelectList(Model.AllExistingActions,"Key","Value"),
                        "-Please select an action granted by this item-",
                        new {
                        @class = "form-control"
                        })
                        <span asp-validation-for="ActionToTriggerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlayableClassId" class="control-label"></label>
                        @Html.DropDownListFor(m => m.PlayableClassId, new SelectList(Model.AllExistingClasses,"Key","Value"),
                        "-Please select an action granted by this item-",
                        new {
                        @class = "form-control"
                        })
                        <span asp-validation-for="ActionToTriggerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeleteOnUse"></label>
                        <input type="checkbox" asp-for="DeleteOnUse"></input>
                        <span asp-validation-for="DeleteOnUse"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-controller="Items" asp-action="Index" type="button" class="btn btn-primary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
