@model OstreCWEB.ViewModel.StoryBuilder.ParagraphCreateView

@{
    ViewData["Title"] = "CreateParagraph";
}

<h1>CreateParagraph</h1>

<h4>ParagraphCreateView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateParagraph">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParagraphType" class="control-label"></label>
                <input asp-for="ParagraphType" class="form-control" />
                <span asp-validation-for="ParagraphType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageDescription" class="control-label"></label>
                <input asp-for="StageDescription" class="form-control" />
                <span asp-validation-for="StageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryId" class="control-label"></label>
                <input asp-for="StoryId" class="form-control" />
                <span asp-validation-for="StoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
