@using OstreCWEB.Data.Repository.StoryModels.Enums
@using OstreCWEB.Data.Repository.Characters.Enums
@model OstreCWEB.ViewModel.StoryBuilder.CreatParagraphTestView

@{
    ViewData["Title"] = "Create Paragraph Test";
}

<div class="pagetitle">
    <h1>Create Paragraph Test</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="StoryBuilder" asp-action="Index">StoryBuilder</a></li>
            <li class="breadcrumb-item active">Create Paragraph Test</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Creat Test Paragraph</h5>
        <div class="col-md-4">
            <form asp-action="CreatParagraphTest">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <dl class="row">
                    <dt class="col-sm-4">
                        <label asp-for="ParagraphType"></label>
                    </dt>
                    <dd class="col-sm-8">
                        @Model.ParagraphType
                    </dd>
                    <dt class="col-sm-4">
                        <label asp-for="StageDescription"></label>
                    </dt>
                    <dd class="col-sm-8">
                        @Model.StageDescription
                    </dd>
                    <dt class="col-sm-4">
                        <label asp-for="RestoreRest"></label>
                    </dt>
                    <dd class="col-sm-8">
                        @Model.RestoreRest
                    </dd>
                </dl>

                <div class="form-group">
                    <label asp-for="AbilityScores" class="control-label"></label>
                    <select asp-for="AbilityScores" asp-items="Html.GetEnumSelectList<AbilityScores>()" class="form-control"></select>
                    <span asp-validation-for="AbilityScores" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TestDifficulty" class="control-label"></label>
                    <select asp-for="TestDifficulty" asp-items="Html.GetEnumSelectList<TestDifficulty>()" class="form-control"></select>
                    <span asp-validation-for="TestDifficulty" class="text-danger"></span>
                </div>

                <div>
                    <p></p>
                <input asp-for="ParagraphType" hidden="true" />
                <input asp-for="StageDescription" hidden="true" />
                <input asp-for="RestoreRest" hidden="true" />
                <input asp-for="StoryId" hidden="true" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="StoryParagraphsList" asp-route-id="@Model.StoryId" type="button" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}