<div class="card">
    <div class="card-body">
        <h5 class="card-title">Let's start fight'</h5>
            <div class="list-group">
            <a asp-controller="Fight" asp-action="FightView" type="button" class="list-group-item list-group-item-action">Start fight</a>
            </div>
    </div>
</div>