<div class="card">
    <div class="card-body">
        <h5 class="card-title">Let's start fight'</h5>
            <div class="list-group">
                <a asp-route-name="Fight" asp-action="Index" asp-route-id="" type="button" class="list-group-item list-group-item-action">Start fight</a>
            </div>
    </div>
</div>