@model OstreCWEB.ViewModel.StoryReader.GameStageView

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <!-- Heal button -->
                <div class="col-12">
                    <div class="card">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a asp-route-name="StoryReader" asp-action="HealCharacter" type="button" class="btn btn-success">Heal your Hero</a>
                        </div>
                    </div>
                </div>
                <!-- Heal button -->
                <!-- Paragraph Card -->
                <div class="col-12">
                    <partial name="_CurrentParagraph" model="@Model.CurrentParagraph" />
                </div><!-- End Paragraph Card -->
            </div>
        </div>
        <!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">
            <!-- Budget Report -->
            <partial name="_CurrentCharacter" model="@Model.CurrentCharacter" />
            <!-- End Budget Report -->
        </div>
        <!-- End Right side columns -->
    </div>
</section>
