@model IEnumerable<OstreCWEB.ViewModel.StoryBuilder.StoryView>
@{
    ViewData["Title"] = "_PlayableCharacterTable";
} 
<div class="card">
    <div class="card-body">  
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Name"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Description"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().AmountOfParagraphs"></Label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var story in Model)
                {
                    <tr>
                        <th scope="row">@story.Name</th>
                        <td>@story.Description</td>
                        <td>@story.AmountOfParagraphs</td>
                        <td><a asp-controller="Game" asp-action="SetActiveStory" asp-route-id="@story.Id" type="button" class="btn btn-primary">Choose this story</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>


