@model IEnumerable<OstreCWEB.ViewModel.StoryBuilder.StoryView>
@{
    ViewData["Title"] = "_PlayableCharacterTable";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Default Table</h5>

        <!-- Default Table -->
        <table class="table">
            <thead>
                <tr> 
                    <th scope="col"> <Label asp-for="FirstOrDefault().Name"></Label></th>
                    <th scope="col"> <Label asp-for="FirstOrDefault().Description"></Label></th>  
                    <th scope="col"> <Label asp-for="FirstOrDefault().AmountOfParagraphs"></Label></th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach(var character in Model){
                        <th scope="row">@character.Name</th>
                        <td>@character.Description</td>
                        <td>@character.AmountOfParagraphs</td>
                    } 
                </tr> 
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>

