@model IEnumerable<OstreCWEB.ViewModel.Identity.UserParagraphView>
@{
    ViewData["Title"] = "_PlayableCharacterTable";
}




<div class="card">
    <div class="card-body">
        <h5 class="card-title">Default Table</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Story.Name"></Label></th> 
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Story.AmountOfParagraphs"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Story.Description"></Label></th>

                    <th scope="col"> <Label asp-for=" FirstOrDefault().Story.Description"></Label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var story in Model)
                {
                    <tr>
                        <th scope="row">@story.Name</th>
                        <td>@story.Description</td>
                        <td>@story.AmountOfParagraphs</td>
                        <td><a asp-controller="Game" asp-action="SetActiveStory" asp-route-id="@story.Id" type="button" class="btn btn-primary">Choose this story</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>


